*.txt
logs/
target/

# Ignore skip list of events generated immediately before each release
normal_event_skip_list.txt

# Ignore output files tracking inference progress
orthoinference*.out

# Ignore Orthopair files used as input for inference mapping
src/main/resources/orthopairs/*

# Ignore IntelliJ files
.idea/
orthoinference.iml

# Ignore SQL dump files
*.sql.gz
*.sql
*.dump.gz
*.dump

# Ignore backup files
*.bak