*.txt
logs/
target/

# Ignore output files tracking inference progress
orthoinference*.out

# Ignore Orthopair files used as input for inference mapping
src/main/resources/orthopairs/*

# Ignore IntelliJ files
.idea/
orthoinference.iml